.header-row
  .header-item
    = image_tag 'logo.svg'
.header-row
  .header-item
    = image_tag 'traffic.svg'
  .header-item
    = image_tag 'sport.svg'
  .header-item
    = image_tag 'gov.svg'

.content-container
  .post-column
    .post
    - @traffic_posts.each do |post|
      .post{style: "background: url('#{image_path post.image_source}')", onclick: "window.open('#{post.link}')"}
        .post-top
        .post-bottom
          = post.title
  .post-column
    .post
    - @sport_posts.each do |post|
      .post{style: "background: url('#{image_path post.image_source}')", onclick: "window.open('#{post.link}')"}
        .post-top
        .post-bottom
          = post.title
  .post-column
    .post
    - @gov_posts.each do |post|
      .post{style: "background: url('#{image_path post.image_source}')", onclick: "window.open('#{post.link}')"}
        .post-top
        .post-bottom
          = post.title
.footer-row
  .footer-item
    .footer-item-text
      @mirat1618, 2020.


